@font-face {
  font-family: 'acumin bold';
  src: url('assets/fonts/Acumin-Pro-Bold') format('truetype');
}
@font-face {
  font-family: 'acumin medium';
  src: url('assets/fonts/Acumin-bold') format('truetype');
}
@font-face {
  font-family: 'acumin regular';
  src: url('assets/fonts/Acumin-regular') format('truetype');
}
